<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>채팅방</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
      #container {
          height: 98vh;
      }

      #headerContainer {
          min-height: 17%;
      }

      #contentContainer {
          height: 83%;
      }

      .container hr {
          margin: 0.5rem;
      }

      #roomHeader, #roomInfo {
          text-indent: 15px;
      }

      #roomHeader {
          margin-top: 10px;
      }

      #roomInfo span {
          margin-right: 15px;
      }

      #menuContainer {
          /*margin: 20px auto;*/
      }

      #sendMessageBtn {
          margin: 0 5px;
      }

      #sendGptMessageBtn {
          display: none;
      }

      #conversationBox {
          margin-bottom: 15px;
          height: 92%;
          overflow: hidden;
          overflow-y: scroll;
      }

      .member-connected {
          color: green;
      }

      .member-disconnected {
          color: grey;
      }

      .member-list-item span {
          margin-right: 15px;
          font-size: 1.2em;
      }

      #conversationWrapper {
          padding: 0;
      }

      .conversation-list-item {
          /*background-color: white;*/
          /*border-style: solid;*/
          /*border-width: medium;*/
          border-bottom: none;
      }

      .conversation-list-item-body {
          padding: 10px;
          border-radius: 10px;
      }

      .conversation-list-item-username {

      }

      .conversation-list-item-content {

      }

      .chat-to-gpt-conversation .conversation-list-item-content {
          font-weight: bold;
      }

      .chat-from-gpt-conversation .conversation-list-item-content {
          font-weight: bold;
      }

      .conversation-list-item-created-at {
          font-size: 0.8em;
      }

      .chat-to-gpt-conversation, .chat-from-gpt-conversation {
          border-left: red solid 3px;
      }

      /*.twenty-game-from-gpt-conversation {*/
      /*    border-bottom: green solid 4px;*/
      /*}*/

      .myConversation {
          /*background-color: lightblue;*/
      }

      .otherConversation {
          background-color: whitesmoke;
      }

      .gptConversation {
          /*background-color: lightgreen;*/
      }

      .systemConversation {
          background-color: ghostwhite;
      }

  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="text/javascript" th:inline="javascript">

      /*<![CDATA[*/
      let thCurrentMember = [[${currentMember}]];
      let thCurrentRoom = [[${chatRoom}]];
      /*]]>*/

      // STOMP 변수
      let stompClient = null;
      let currentSubscription = null;

      // 서버에서 내려주는 ChatMessageDto 구조. (사용X)
      const ChatMessageDto = {
          roomId: 0,
          userId: 0,
          type: '',
          username: '',
          content: '',
          createdAt: '',
          isGptChat: false,       // Gpt 와의 대화인지 여부, 프론트에서 전달
      }

      document.addEventListener('DOMContentLoaded', function () {

          // DOM 요소 탐색
          let usernameInput = document.getElementById('usernameInput');
          let contentInput = document.getElementById('contentInput');
          let roomInfo = document.getElementById('roomInfo');

          let infoGptActivated = document.getElementById('infoGptActivated');
          let infoGptOwner = document.getElementById('infoGptOwner');

          let conversationInput = document.getElementById('conversationInput');
          let conversationList = document.getElementById('conversationList');
          let conversationBox = document.getElementById('conversationBox');
          let conversationWrapper = document.getElementById('conversationWrapper');

          let memberList = document.getElementById('memberList');

          // 이벤트 리스터용 DOM 요소 탐색
          let memberListBtn = document.getElementById('memberListBtn');
          let sendMessageBtn = document.getElementById('sendMessageBtn');
          let sendGptMessageBtn = document.getElementById('sendGptMessageBtn');
          let unSubscribeBtn = document.getElementById('unSubscribeChatBtn');
          let activateGptBtn = document.getElementById('activateGptBtn');
          let deactivateGptBtn = document.getElementById('deActivateGptBtn');

          // connect init()
          let sendUrl = '';
          let subUrl = '';
          let currentRoomId = '';
          let currentUserId = '';
          let currentUsername = '';
          let currentGptOwnerUsername = '';   // syncMemberList 에서 결정됨.

          // thCurrentMember 로 초기화할 변수 (갱신되지 않는 변수들)
          let isCurrentUserRoomOwner = thCurrentMember.isRoomOwner // 방장여부

          // 필요시 초기화될 변수
          let isGptOwner = false;   // gpt ACTIVATE 시킨 사람인지 여부
          let isGptActivated = false;  // gpt ACITVATE 여부
          let currentGptUuid = '';   // gpt uuid

          // 초기 Connect 호출
          connect();

          // eventListener =====================================================================================

          window.addEventListener("beforeunload", function () {
              disconnect();
          });

          // memberListBtn.addEventListener('click', getMemberList);

          activateGptBtn.addEventListener('click', activateGpt);
          deactivateGptBtn.addEventListener('click', deActivateGpt);

          contentInput.addEventListener('keypress', function (e) {
              if (e.key === 'Enter' && !e.shiftKey) sendMessageBtn.click();
          });
          contentInput.addEventListener('keypress', function (e) {
              if (e.key === 'Enter' && e.shiftKey && isGptActivated) sendGptMessageBtn.click();
          });

          sendMessageBtn.addEventListener('click', sendMessage.bind(null, 'CHAT'));
          sendGptMessageBtn.addEventListener('click', sendMessage.bind(null, 'CHAT_TO_GPT'));

          unSubscribeBtn.addEventListener('click', unSubscribe);

          // function ===============================================================================================

          // connect 전 상태 초기화
          function connectInit() {
              currentUsername = usernameInput.value;
              currentUserId = document.getElementById('userId').value;
              currentRoomId = roomInfo.dataset.roomid;

              sendUrl = '/app/chat/' + currentRoomId;
              subUrl = '/topic/chat/' + currentRoomId;
          }

          // 소켓 연결
          function connect() {

              connectInit();

              // 소켓연결
              let socket = new SockJS('/chat');

              // STOMP 연결
              let headers = setConnectHeaders();
              stompClient = Stomp.over(socket);
              stompClient.debug = null;

              stompClient.connect(headers, function (frame) {
                  setConnected(true);  // 연결후 html 조정
                  // console.log('Connected: ' + frame);

                  // 서버의 endpoint 에 연결
                  currentSubscription = stompClient.subscribe(subUrl, function (responseMessageDto) {
                      // 서버로부터 메시지를 받으면 실행하는 콜백
                      let responseMessage = JSON.parse(responseMessageDto.body)
                      processMessage(responseMessage);
                  });
                  // 멤버리스트 초기화
                  initializeMemberList();

                  // GPT 켜져있을때 버튼 비활성화
                  if (thCurrentRoom.gptActivated) {
                      isGptActivated = true;
                      activateGptBtn.disabled = true;
                      deactivateGptBtn.disabled = true;
                  }
              });
          }

          // 사용자의 구독해제
          function unSubscribe() {
              if (isCurrentUserRoomOwner) {
                  if (!confirm('방장이 나가면 방이 삭제됩니다. 정말 나가시겠습니까?')) {
                      return;
                  }
              }
              currentSubscription.unsubscribe();
              // index 로 보냄. (뒤로가기 불가)
              location.replace('/');
          }

          function disconnect() {
              if (stompClient != null) {
                  stompClient.disconnect(function () {
                  });
              }
              setConnected(false);
          }

          // 연결 여부에 따라 입력 및 스타일 조정
          function setConnected(connected) {
              unSubscribeBtn.disabled = !connected;
              conversationInput.style.visibility
                  = connected ? 'visible' : 'hidden';
          }

          /**
           * 메시지의 header 설정하는 함수
           */
          function setConnectHeaders() {
              let headers = {
                  "containsNativeHeader": true,
                  "currentRoomId": currentRoomId,
                  "subUrl": subUrl
              }
              return headers;
          }

          function sendMessage(chatMessageType) {
              let usernameVal = usernameInput.value;
              let contentVal = contentInput.value;
              // console.log("thCurrentMember = {}", thCurrentMember);

              // 입력값 없으면 중지
              if (!contentVal && (chatMessageType == 'CHAT' || chatMessageType == 'CHAT_TO_GPT')) {
                  alert("내용을 입력하세요.")
                  return;
              }

              let isGptChat = chatMessageType == 'ACTIVATE_GPT' ||
              chatMessageType == 'CHAT_TO_GPT'
                  ? true : false;

              let sendMessageDto = {
                  'roomId': thCurrentRoom.id,
                  'userId': thCurrentMember.userId,
                  'type': chatMessageType,
                  'username': usernameVal,
                  'content': contentVal,
                  'createdAt': '',
                  'isGptChat': isGptChat,       // Gpt 와의 대화인지 여부, 프론트에서 전달

                  'gptUuid': currentGptUuid,            // GPT 의 UUID, UUID(8)

              }
              // headers = {}
              stompClient.send(sendUrl, {}, JSON.stringify(sendMessageDto));
              contentInput.value = '';
          }

          // GPT 메시지 수신 처리
          async function processMessage(responseMessage) {
              let needShowMessage = true;
              // 타입처리
              switch (responseMessage.type) {
                  case 'ENTER':
                      await syncMemberList(responseMessage.userId); // 멤버창 갱신
                      break;
                  case 'LEAVE':
                      await syncMemberList(responseMessage.userId); // 멤버창 갱신
                      break;
                  case 'CHAT':
                      break;
                  case 'ACTIVATE_GPT': // 해당메시지의 userId = ACTIVATE_GPT 한 사람의 userId
                      // 상태처리
                      isGptActivated = true;
                      currentGptUuid = responseMessage.gptUuid;
                      isGptOwner = responseMessage.userId == currentUserId ? true : false;
                      currentGptOwnerUsername = determineGptOwnerUsername(responseMessage.userId);

                      // 버튼처리
                      isGptOwner ? deactivateGptBtn.disabled = false : deactivateGptBtn.disabled = true;
                      activateGptBtn.disabled = true;

                      // 스타일처리
                      infoGptActivated.textContent = 'GPT 활성화됨';
                      infoGptOwner.textContent = 'GPT 오너 : ' + currentGptOwnerUsername;

                      needShowMessage = false;
                      break;
                  case 'GPT_ENTER':
                      await syncMemberList(responseMessage.userId); // 멤버창 갱신

                      sendGptMessageBtn.style.display = 'block';
                      sendGptMessageBtn.disabled = false;
                      break;
                  case 'GPT_LEAVE':
                      await syncMemberList(responseMessage.userId); // 멤버창 갱신

                      // 상태처리
                      currentGptUuid = '';

                      // 버튼처리
                      sendGptMessageBtn.style.display = 'none';
                      activateGptBtn.disabled = false;
                      deactivateGptBtn.disabled = true;

                      // 스타일 처리
                      infoGptActivated.textContent = '';
                      infoGptOwner.textContent = '';
                      break;
                  case 'GPT_PROCESSING':
                      // gpt 답변 생성중
                      sendGptMessageBtn.disabled = true;
                      break;
                  case 'CHAT_TO_GPT':
                      break;
                  case 'CHAT_FROM_GPT':
                      // 중간에 들어온 사람을 위해 이쪽에서도 갱신
                      isGptActivated = true;
                      currentGptUuid = responseMessage.gptUuid;
                      sendGptMessageBtn.style.display = 'block'; // 중간에 들어온 사람이 있을 수 있으므로, 다시 보이게 처리
                      sendGptMessageBtn.disabled = false;
                      break;
                  case 'ROOM_DELETED':
                      alert('방장에 의해 방이 삭제되었습니다.');
                      location.replace('/');
                      break;
                  default:
                      // console.log("PROCESS MESSAGE DEFAULT CASE ============================", responseMessage);
                      needShowMessage = false;
                      break;
              }
              if (needShowMessage) showMessage(responseMessage);
          }

          function determineGptOwnerUsername(gptOwnerUserId) {
              let gptOwnerUsername = '';
              document.querySelectorAll('.member-list-item').forEach(item => {
                  if (item.dataset.userid == gptOwnerUserId) {
                      gptOwnerUsername = item.firstChild.textContent;
                  }
              });
              return gptOwnerUsername;
          }

          // 메시지 화면 출력
          function showMessage(chatMessage) {
              // <li listItem>
              //   <div listHeader> <span username> </div>
              //   <div listBody> <span content> <span createdAt> <div>
              // </li>
              let listItem = document.createElement('li');
              let listHeader = document.createElement('div');
              let listBody = document.createElement('div');

              let username = document.createElement('span');
              let content = document.createElement('span');
              let createdAt = document.createElement('span');

              let colorClassName = determineConversationColorClass(chatMessage.username);
              let conversationHighlightClassName = determineConversationTwentyHighlightClass(chatMessage.type);

              if (chatMessage.type == 'GPT_PROCESSING') listItem.classList.add('gpt-processing');
              listItem.classList.add('list-group-item', 'conversation-list-item',);
              listHeader.classList.add('conversation-list-item-header');
              listBody.classList.add('conversation-list-item-body', colorClassName, conversationHighlightClassName);

              username.textContent = chatMessage.username;
              username.classList.add('conversation-list-item-username');
              listHeader.appendChild(username)

              content.textContent = chatMessage.content;
              content.classList.add('conversation-list-item-content');
              listBody.appendChild(content)

              createdAt.textContent = " (" + convertTime(chatMessage.createdAt) + ")";
              createdAt.classList.add('conversation-list-item-created-at');
              listBody.appendChild(createdAt);

              listItem.appendChild(listHeader);
              listItem.appendChild(listBody);
              conversationList.appendChild(listItem);

              if (chatMessage.userId == 3) {
                  // 'GPT 답변 생성중' 메시지 삭제
                  document.querySelectorAll('.gpt-processing').forEach(item => item.remove());
              }

              // 스크롤 최하단으로 이동
              conversationBox.scrollTop = conversationWrapper.offsetHeight;

          }

          function determineConversationColorClass(username) {
              let className = "";
              if (username == 'assistant') {
                  className = "bg-success-subtle";
              } else if (username == 'SYSTEM') {
                  className = "systemConversation";
              } else if (username == currentUsername) {
                  className = "bg-primary-subtle";
              } else {
                  // 다른 user
                  className = "otherConversation";
              }
              return className;
          }

          /**
           * GPT 질문 메시지의 강조색상 클래스 결정
           */
          function determineConversationTwentyHighlightClass(messageType) {
              let className = "none";
              if (messageType == 'CHAT_TO_GPT') {
                  className = "chat-to-gpt-conversation"
              }
              if (messageType == 'CHAT_FROM_GPT' || messageType == 'GPT_ENTER' || messageType == 'GPT_LEAVE') {
                  className = "chat-from-gpt-conversation"
              }
              return className;
          }

          function convertTime(time) {
              // time = "2023-06-07T16:23:47";
              const dateTime = new Date(time); // 원본 시간을 Date 객체로 변환, "2023-06-07T07:23:47.000Z"

              // slice(-2) : 마지막 두글자
              // ex) minute = 3, '0' + minute = '03', ('0' + minute).slice(-2) = '03'
              // ex2) minute = 13, '0' + minute = '013', ('0' + minute).slice(-2) = '13'

              const year = dateTime.getFullYear().toString().slice(2); // 연도에서 뒤의 두자리만 가져옴
              const month = ('0' + (dateTime.getMonth() + 1)).slice(-2); // 월을 가져오고, 1을 더한 뒤, 앞에 0을 붙임
              const day = ('0' + dateTime.getDate()).slice(-2); // 일을 가져오고, 앞에 0을 붙임
              const hour = ('0' + dateTime.getHours()).slice(-2); // 시간을 가져오고, 앞에 0을 붙임
              const minute = ('0' + dateTime.getMinutes()).slice(-2); // 분을 가져오고, 앞에 0을 붙임
              const second = ('0' + dateTime.getSeconds()).slice(-2); // 초를 가져오고, 앞에 0을 붙임

              const formattedDateTime = `${year}-${month}-${day} ${hour}:${minute}:${second}`; // "yy-MM-dd HH:mm:ss" 형태로 포맷팅합니다.

              // console.log(formattedDateTime); // 예시 출력: "23-06-07 16:23:47"
              return formattedDateTime;
          }

          function fetchMemberList() {
              let responsePromise = fetch('/chat/room/' + currentRoomId + '/members');
              return responsePromise.then(response => response.json()) // json 형태의 데이터를 자바스크립트 객체로 변환
          }

          /**
           * 처음들어갈때 멤버리스트 초기화 및 생성 (한번만 실행)
           */
          async function initializeMemberList() {

              const response = await fetchMemberList();
              // console.log(response);
              let responseMemberList = response.memberList;

              // 서버에서 받은 responseMemberList 순회
              for (let i = 0; i < responseMemberList.length; i++) {
                  let newMemberListItem = createMemberListItem(responseMemberList[i]);
                  memberList.appendChild(newMemberListItem);
              }
          }

          /**
           * (메시지를 수신할때 마다) 현재 채팅방의 멤버정보를 동기화
           * @param responseMessageUserId : 수신한 메시지의 userId. 이를 통해 수정할 user 정보를 확인한다.
           */
          async function syncMemberList(responseMessageUserId) {
              if (responseMessageUserId == 0 || responseMessageUserId == null) return;

              const response = await fetchMemberList();
              // console.log(response);
              let responseMemberList = response.memberList;

              let modifiedMemberListItem = null; // htmlCollection
              let modifiedMemberResponse = null; // Object

              // 파라미터로 받은 메시지의 userId 와 동일한 userId 를 가진 member-list-item 을 찾는다.
              for (let i = 0; i < memberList.children.length; i++) {
                  if (memberList.children[i].dataset.userid == responseMessageUserId) {
                      modifiedMemberListItem = memberList.children[i];
                  }
              }
              // console.log(modifiedMemberListItem);

              // 수정할 멤버의 정보를 찾는다.
              for (let i = 0; i < responseMemberList.length; i++) {
                  if (responseMemberList[i].userId == responseMessageUserId) {
                      modifiedMemberResponse = responseMemberList[i];
                  }
              }

              // 동기화
              if (modifiedMemberResponse == null) {
                  // 수정할 멤버의 정보가 없음
                  if (modifiedMemberListItem != null) {
                      // list-item 은 존재함 -> 삭제
                      modifiedMemberListItem.remove();
                  }
              } else {
                  // 수정할 멤버의 정보가 있음 -> newListItem 생성
                  let newMemberListItem = createMemberListItem(modifiedMemberResponse);
                  if (modifiedMemberListItem == null) {
                      // 수정할 멤버의 정보 있음, list-item 없음, -> 새 list-item 추가
                      memberList.appendChild(newMemberListItem);
                  } else {
                      // 수정할 멤버의 정보 있음, list-item 있음 -> 새 list-item 으로 교체
                      modifiedMemberListItem.replaceWith(newMemberListItem);
                  }
              }
          } // syncMemberList()

          /**
           * 수정할 멤버의 정보를 받아서, 새로운 list-item 을 생성한다.
           * @param modifiedMemberResponse : 서버로 부터 받은 수정할 멤버의 정보 Object
           */
          function createMemberListItem(modifiedMemberResponse) {
              let newMemberListItem = document.createElement('li');
              newMemberListItem.classList.add('list-group-item', 'member-list-item');
              newMemberListItem.dataset.userid = modifiedMemberResponse.userId;

              let memberUsername = document.createElement('span');
              memberUsername.classList.add('member-username');
              memberUsername.textContent = modifiedMemberResponse.username;
              newMemberListItem.appendChild(memberUsername);

              let isRoomOwner = modifiedMemberResponse.roomOwner; // boolean
              if (isRoomOwner) {
                  let memberIsRoomOwner = document.createElement('span');
                  memberIsRoomOwner.classList.add('member-is-room-owner');
                  memberIsRoomOwner.textContent = '방장';
                  newMemberListItem.appendChild(memberIsRoomOwner);
              }

              let isMemberConnected = modifiedMemberResponse.roomConnected; // boolean
              let memberIsRoomConnected = document.createElement('span');
              memberIsRoomConnected.classList.add('member-is-room-connected');
              let connectedColorClass = isMemberConnected ? 'member-connected' : 'member-disconnected';
              memberIsRoomConnected.classList.add(connectedColorClass);
              memberIsRoomConnected.textContent = isMemberConnected ? '접속중' : "미접속";
              newMemberListItem.appendChild(memberIsRoomConnected);

              let isMemberGptOwner = modifiedMemberResponse.gptOwner; // boolean
              if (isMemberGptOwner) {
                  let memberIsGptOwner = document.createElement('span');
                  memberIsGptOwner.classList.add('member-is-gpt-owner');
                  memberIsGptOwner.textContent = 'GPT오너';
                  newMemberListItem.appendChild(memberIsGptOwner);
              }

              return newMemberListItem;
          }

          function activateGpt() {
              sendMessage('ACTIVATE_GPT');
          }

          function deActivateGpt() {
              sendMessage('DEACTIVATE_GPT');
          }

      })
      ; // DOMContentLoaded

  </script>
</head>
<body>
<div id="container" class="container">
  <div id="headerContainer">

    <div id="roomHeader">
      <h2 th:text="${chatRoom.getName()}">RoomName</h2>
    </div>

    <hr>

    <div id="roomInfo" th:data-roomid="${chatRoom.id}">
      <!--    <span id="roomId" th:text="|id ${chatRoom.id}|" th:data-roomid="${chatRoom.id}">roomId</span>-->
      <!--    <span id="roomName" th:text="|name ${chatRoom.getName}|">roomName</span>-->
      <span id="roomType" th:text="|${chatRoom.getType().roomTypeName}|">roomType</span>
      <span id="infoGptActivated"></span>
      <span id="infoGptOwner"></span>
    </div>

    <hr>

    <!-- Modal -->
    <div class="modal fade" id="memberListModal" tabindex="-1" aria-labelledby="memberListModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="memberListModalLabel">멤버 정보</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <ul id="memberList" class="list-group list-group-flush">
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
          </form>

        </div>
      </div>
    </div>

    <div id="menuContainer">
      <div id="menuBar" class="input-group">
        <button id="memberListBtn" type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#memberListModal">
          멤버 정보
        </button>
        <button id="activateGptBtn" class="btn btn-outline-primary">GPT ON</button>
        <button id="deActivateGptBtn" class="btn btn-outline-secondary">GPT OFF</button>
        <button id="unSubscribeChatBtn" class="btn btn-outline-danger" disabled='true'>퇴장</button>
      </div>
    </div>

    <hr>
  </div><!--header container-->

  <div id="contentContainer">
    <div id="conversationBox" class="card">
      <div id="conversationWrapper" class="card-body">
        <ul id="conversationList" class="list-group list-group-flush">
          <!-- Messages will be dynamically added here -->
        </ul>
      </div>
    </div>

    <form id="conversationInput" class="input-group" sec:authorize="isAuthenticated()">
      <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
      <div class="input-group">
        <input type="text" id="blockSubmit" style="display: none"/>
        <input type="text" id="contentInput" class="form-control" placeholder="메시지 입력" value="" required/>
        <input type="hidden" id="usernameInput" th:value="${#authentication.name}"/>
        <input type="hidden" id="order" value="0"/>
        <input type="hidden" id="userId" th:value="${#authentication.principal.id}">
        <div class="input-group-append">
          <button type="button" id="sendMessageBtn" class="btn btn-outline-primary">보내기</button>
        </div>
        <div class="input-group-append">
          <button type="button" id="sendGptMessageBtn" class="btn btn-outline-success">질문하기</button>
        </div>
      </div>
    </form>
  </div>
</div><!-- container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>
