<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Chat WebSocket</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
      h4 {
          margin-top: 20px;
      }

      #sendGptMessageBtn {
          display: none;
      }

      #conversationBox {
          margin-bottom: 20px;
      }

      .conversation-list-item {
          /*background-color: white;*/
          /*border-style: solid;*/
          /*border-width: medium;*/
          margin-bottom: 10px;
      }

      .conversation-list-item-username {

      }

      .conversation-list-item-content {

      }

      .chat-to-gpt-conversation .conversation-list-item-content {
          font-weight: bold;
      }

      .chat-from-gpt-conversation .conversation-list-item-content {
          font-weight: bold;
      }

      .conversation-list-item-created-at {
          font-size: 0.8em;
      }

      .chat-to-gpt-conversation, .chat-from-gpt-conversation {
          border-left: red solid 3px;
      }

      /*.twenty-game-from-gpt-conversation {*/
      /*    border-bottom: green solid 4px;*/
      /*}*/

      .myConversation {
          background-color: lightblue;
          /*border-color: lightblue;*/
      }

      .otherConversation {
          background-color: lightgray;
          /*border-color: lightgray;*/
      }

      .gptConversation {
          background-color: lightgreen;
          /*border-color: lightgreen;*/
      }

      .systemConversation {
          background-color: white;
          /*border-color: black;*/
      }



  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="text/javascript" th:inline="javascript">

      /*<![CDATA[*/
      let thCurrentMember = [[${currentMember}]];
      /*]]>*/

      // STOMP 변수
      let stompClient = null;
      let currentSubscription = null;

      // 서버에서 내려주는 ChatMessageDto 구조. (사용X)
      const ChatMessageDto = {
          roomId: 0,
          userId: 0,
          type: '',
          username: '',
          content: '',
          createdAt: '',
          isGptChat: false,       // Gpt 와의 대화인지 여부, 프론트에서 전달
      }

      document.addEventListener('DOMContentLoaded', function () {

          // DOM 요소 탐색
          let usernameInput = document.getElementById('usernameInput');
          let contentInput = document.getElementById('contentInput');
          let roomData = document.getElementById('roomId');

          let conversationInput = document.getElementById('conversationInput');
          let conversationList = document.getElementById('conversationList');

          // 이벤트 리스터용 DOM 요소 탐색
          let memberListBtn = document.getElementById('memberListBtn');
          let sendMessageBtn = document.getElementById('sendMessageBtn');
          let sendGptMessageBtn = document.getElementById('sendGptMessageBtn');
          let unSubscribeBtn = document.getElementById('unSubscribeChatBtn');
          let activateGptBtn = document.getElementById('activateGptBtn');
          let deactivateGptBtn = document.getElementById('deActivateGptBtn');

          // connect init()
          let sendUrl = '';
          let subUrl = '';
          let currentRoomId = '';
          let currentUserId = '';
          let currentUsername = '';

          // 필요시 초기화될 변수
          let isGptOwner = false;   // gpt ACTIVATE 시킨 사람인지 여부
          let isGptActivated = false;  // gpt ACITVATE 여부
          let currentGptUuid = '';   // gpt uuid

          // 초기 Connect 호출
          connect();

          // eventListener =====================================================================================

          window.addEventListener("beforeunload", function (event) {
              console.log('event.beforeunload');
              disconnect();
          });

          memberListBtn.addEventListener('click', getMemberList);

          activateGptBtn.addEventListener('click', activateGpt);
          deactivateGptBtn.addEventListener('click', deActivateGpt);

          contentInput.addEventListener('keypress', function (e) { if (e.key === 'Enter' && !e.shiftKey) sendMessageBtn.click(); });
          contentInput.addEventListener('keypress', function (e) { if (e.key === 'Enter' && e.shiftKey && isGptActivated) sendGptMessageBtn.click(); });

          sendMessageBtn.addEventListener('click', sendMessage.bind(null, 'CHAT'));
          sendGptMessageBtn.addEventListener('click', sendMessage.bind(null, 'CHAT_TO_GPT'));

          unSubscribeBtn.addEventListener('click', unSubscribe);

          // function ===============================================================================================

          // connect 전 상태 초기화
          function connectInit() {
              currentUsername = usernameInput.value;
              currentUserId = document.getElementById('userId').value;
              currentRoomId = roomData.dataset.roomid;

              sendUrl = '/app/chat/' + currentRoomId;
              subUrl = '/topic/chat/' + currentRoomId;

          }

          // 소켓 연결
          function connect() {

              connectInit();

              // 소켓연결
              let socket = new SockJS('/chat');

              // STOMP 연결
              let headers = setConnectHeaders();
              stompClient = Stomp.over(socket);

              stompClient.connect(headers, function (frame) {
                  setConnected(true);  // 연결후 html 조정
                  console.log('Connected: ' + frame);

                  // 서버의 endpoint 에 연결
                  currentSubscription = stompClient.subscribe(subUrl, function (responseMessageDto) {
                      // 서버로부터 메시지를 받으면 실행하는 콜백
                      let responseMessage = JSON.parse(responseMessageDto.body)
                      processMessage(responseMessage);
                  });
              });
          }

          // 사용자의 구독해제
          function unSubscribe() {
              currentSubscription.unsubscribe();
              // index 로 보냄. (뒤로가기 불가)
              location.replace('/');
          }

          function disconnect() {
              if (stompClient != null) {
                  stompClient.disconnect(function () {});
              }
              setConnected(false);
              console.log("Disconnected");
          }

          // 연결 여부에 따라 입력 및 스타일 조정
          function setConnected(connected) {
              unSubscribeBtn.disabled = !connected;
              conversationInput.style.visibility
                  = connected ? 'visible' : 'hidden';
          }

          /**
           * 메시지의 header 설정하는 함수
           */
          function setConnectHeaders() {
              let headers = {
                  "containsNativeHeader": true,
                  "currentRoomId": currentRoomId,
                  "subUrl": subUrl
              }
              return headers;
          }

          function sendMessage(chatMessageType) {
              let usernameVal = usernameInput.value;
              let contentVal = contentInput.value;
              let isGptChat = chatMessageType == 'ACTIVATE_GPT' ||
              chatMessageType == 'CHAT_TO_GPT'
                  ? true : false;

              let sendMessageDto = {
                  'roomId': thCurrentMember.roomId,
                  'userId': thCurrentMember.userId,
                  'type': chatMessageType,
                  'username': usernameVal,
                  'content': contentVal,
                  'createdAt': '',
                  'isGptChat': isGptChat,       // Gpt 와의 대화인지 여부, 프론트에서 전달

                  'gptUuid': currentGptUuid,            // GPT 의 UUID, UUID(8)

              }
              // headers = {}
              stompClient.send(sendUrl, {}, JSON.stringify(sendMessageDto));
          }

          // GPT 메시지 수신 처리
          function processMessage(responseMessage) {
              // GPT_PROCESSING 메시지 삭제
              document.querySelectorAll('.gpt-processing').forEach(item => item.remove());

              let needShowMessage = true;
              // 타입처리
              switch (responseMessage.type) {
                  case 'ACTIVATE_GPT':
                      isGptActivated = true;
                      isGptOwner = responseMessage.userId == currentUserId ? true : false;
                      isGptOwner ? activateGptBtn.disabled = true : activateGptBtn.disabled = false;
                      currentGptUuid = responseMessage.gptUuid;

                      needShowMessage = false;
                      break;
                  case 'GPT_ENTER':
                      sendGptMessageBtn.style.display = 'block';
                      sendGptMessageBtn.disabled = false;
                      break;
                  case 'GPT_LEAVE':
                      currentGptUuid = '';

                      sendGptMessageBtn.style.display = 'none';
                      break;
                  case 'GPT_PROCESSING':
                      // gpt 답변 생성중
                      sendGptMessageBtn.disabled = true;
                      break;
                  case 'CHAT_FROM_GPT':
                      // gpt 답변 생성 완료
                      sendGptMessageBtn.style.display = 'block'; // 중간에 들어온 사람이 있을 수 있으므로, 다시 보이게 처리
                      sendGptMessageBtn.disabled = false;
                      break;
                  case 'OFFLINE':
                      break;
                  default:
                      break;
              }
              if (needShowMessage) showMessage(responseMessage);
          }

          // 메시지 화면 출력
          function showMessage(chatMessage) {
              // <li> <span username> <span content> <span createdAt> </li>
              let listItem = document.createElement('li');
              let username = document.createElement('span');
              let content = document.createElement('span');
              let createdAt = document.createElement('span');

              let colorClassName = determineConversationColorClass(chatMessage.username);
              let conversationHighlightClassName = determineConversationTwentyHighlightClass(chatMessage.type);

              if (chatMessage.type == 'GPT_PROCESSING') listItem.classList.add('gpt-processing');
              listItem.classList.add('list-group-item', 'conversation-list-item', colorClassName, conversationHighlightClassName);

              username.textContent = chatMessage.username + ": ";
              username.classList.add('conversation-list-item-username');
              listItem.appendChild(username)

              content.textContent = chatMessage.content;
              content.classList.add('conversation-list-item-content');
              listItem.appendChild(content)

              createdAt.textContent = " (" + convertTime(chatMessage.createdAt) + ")";
              createdAt.classList.add('conversation-list-item-created-at');

              listItem.appendChild(createdAt);
              conversationList.appendChild(listItem);

              contentInput.value = '';
          }

          function determineConversationColorClass(username) {
              let className = "";
              if (username == 'assistant') {
                  className = "gptConversation";
              } else if (username == 'SYSTEM') {
                  className = "systemConversation";
              } else if (username == currentUsername) {
                  className = "myConversation";
              } else {
                  // 다른 user
                  className = "otherConversation";
              }
              return className;
          }

          /**
           * GPT 질문 메시지의 강조색상 클래스 결정
           */
          function determineConversationTwentyHighlightClass(messageType) {
              let className = "none";
              if (messageType == 'CHAT_TO_GPT') {
                  className = "chat-to-gpt-conversation"
              }
              if (messageType == 'CHAT_FROM_GPT') {
                  className = "chat-from-gpt-conversation"
              }
              return className;
          }

          function convertTime(time) {
              // time = "2023-06-07T16:23:47";
              const dateTime = new Date(time); // 원본 시간을 Date 객체로 변환, "2023-06-07T07:23:47.000Z"

              // slice(-2) : 마지막 두글자
              // ex) minute = 3, '0' + minute = '03', ('0' + minute).slice(-2) = '03'
              // ex2) minute = 13, '0' + minute = '013', ('0' + minute).slice(-2) = '13'

              const year = dateTime.getFullYear().toString().slice(2); // 연도에서 뒤의 두자리만 가져옴
              const month = ('0' + (dateTime.getMonth() + 1)).slice(-2); // 월을 가져오고, 1을 더한 뒤, 앞에 0을 붙임
              const day = ('0' + dateTime.getDate()).slice(-2); // 일을 가져오고, 앞에 0을 붙임
              const hour = ('0' + dateTime.getHours()).slice(-2); // 시간을 가져오고, 앞에 0을 붙임
              const minute = ('0' + dateTime.getMinutes()).slice(-2); // 분을 가져오고, 앞에 0을 붙임
              const second = ('0' + dateTime.getSeconds()).slice(-2); // 초를 가져오고, 앞에 0을 붙임

              const formattedDateTime = `${year}-${month}-${day} ${hour}:${minute}:${second}`; // "yy-MM-dd HH:mm:ss" 형태로 포맷팅합니다.

              console.log(formattedDateTime); // 예시 출력: "23-06-07 16:23:47"
              return formattedDateTime;
          }

          function getMemberList() {
              fetch('/chat/room/' + currentRoomId + '/members')
                  .then(response => response.json()) // json 형태의 데이터를 자바스크립트 객체로 변환
                  .then(data => {
                      console.log(data);
                      let memberList = data.memberList;
                      let memberListStr = '';

                      for (let i = 0; i < memberList.length; i++) {
                          // console.log(memberList[i].username);
                          memberListStr += memberList[i].username + '(' + (memberList[i].isRoomConnected ? 'Active' : "inActive") + ')' + ', ';
                      }

                      document.getElementById("memberList").innerHTML = memberListStr;
                  });
          }

          function activateGpt() {
              sendMessage('ACTIVATE_GPT');
          }

          function deActivateGpt() {
              sendMessage('DEACTIVATE_GPT');
          }

      }); // DOMContentLoaded

  </script>
</head>
<body>
<div class="container">

  <div>
    <h2>Chat WebSocket</h2>
  </div>

  <h4>Room info</h4>
  <ul>
    <li id="roomId" th:text="|id ${chatRoom.id}|" th:data-roomid="${chatRoom.id}">roomId</li>
    <li id="roomName" th:text="|name ${chatRoom.getName}|">roomName</li>
    <li id="memberList"></li>
  </ul>
  <button id="memberListBtn" type="button" class="btn btn-primary">memberList</button>

  <hr>

  <div id="menuBar" class="input-group">
    <!--    <button id="disconnectChat" class="btn btn-primary" disabled="disabled" onclick="disconnect();">Disconnect</button>-->
    <button id="unSubscribeChatBtn" class="btn btn-secondary" disabled='true'>Unsubscribe</button>
    <button id="activateGptBtn" class="btn btn-primary">activate gpt</button>
    <button id="deActivateGptBtn" class="btn btn-secondary">deActivateGpt gpt</button>
  </div>

  <hr>

  <div id="conversationBox" class="card">
    <div class="card-body">
      <ul id="conversationList" class="list-group">
        <!-- Messages will be dynamically added here -->
      </ul>
    </div>
  </div>

  <form id="conversationInput" class="input-group" sec:authorize="isAuthenticated()">
    <div class="input-group">
      <input type="text" id="blockSubmit" style="display: none"/>
      <input type="text" id="contentInput" class="form-control" placeholder="Write a chatMessage..." value=""/>
      <input type="hidden" id="usernameInput" th:value="${#authentication.name}"/>
      <input type="hidden" id="order" value="0"/>
      <input type="hidden" id="userId" th:value="${#authentication.principal.id}">
      <div class="input-group-append">
        <button type="button" id="sendMessageBtn" class="btn btn-primary">Send</button>
      </div>
      <div class="input-group-append">
        <button type="button" id="sendGptMessageBtn" class="btn btn-secondary">SendGpt</button>
      </div>
    </div>
  </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>
