<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.twenty.mapper.ChatroomMapper">

    <select id="findById" resultType="Chatroom">
        SELECT * FROM chat_room WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Chatroom">
        SELECT * FROM chat_room LIMIT 0, 100
    </select>

    <select id="findTwentyAnswerById" resultType="String">
        SELECT twenty_answer FROM chat_room WHERE id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_room (name, type, subject, custom_subject) VALUES (#{name}, #{type}, #{subject}, #{customSubject})
    </insert>

    <update id="update">
        UPDATE chat_room SET name = #{updateParam.name} WHERE id = #{id}
    </update>

    <update id="updateGptActivated">
        UPDATE chat_room SET is_gpt_activated = #{isGptActivated} WHERE id = #{id}
    </update>

    <update id="updateTwentyNext">
        UPDATE chat_room SET twenty_next = #{twentyNext} WHERE id = #{id}
    </update>

    <update id="updateTwentyNextToZero">
        UPDATE chat_room SET twenty_next = 0 WHERE id = #{id}
    </update>

    <update id="updateTwentyAnswer">
        UPDATE chat_room SET twenty_answer = #{twentyAnswer} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM chat_room WHERE id = #{id}
    </delete>

</mapper>