<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.twenty.mapper.RoomMemberMapper">

    <select id="findById" resultType="RoomMember">
        SELECT * FROM room_member WHERE room_id = #{roomId} and user_id = #{userId}
    </select>

    <select id="findAll" resultType="RoomMember">
        SELECT * FROM room_member LIMIT 0, 100
    </select>

    <select id="findAllByRoomId" resultType="RoomMember">
        SELECT * FROM room_member WHERE room_id = #{roomId}
    </select>

    <select id="findGptUuidByRoomId" resultType="String">
        SELECT gpt_uuid FROM room_member WHERE room_id = #{roomId} AND gpt_uuid IS NOT NULL
    </select>

    <select id="findIsTwentyReadyMemberByRoomId" resultType="RoomMember">
        SELECT * FROM room_member WHERE room_id = #{roomId} AND is_twenty_game_ready = true
    </select>

    <select id="countMemberByRoomId" resultType="int">
        SELECT COUNT(*) FROM room_member WHERE room_id = #{roomId}
    </select>

    <select id="countIsRoomConnectedMemberByRoomId" resultType="int">
        SELECT COUNT(*) FROM room_member WHERE room_id = #{roomId} AND is_room_connected = true
    </select>

    <select id="countIsTwentyReadyMemberByRoomId" resultType="int">
        SELECT COUNT(*) FROM room_member WHERE room_id = #{roomId} AND is_twenty_game_ready = true
    </select>

    <insert id="save">
        INSERT INTO room_member (room_id, user_id, username) VALUES (#{roomId}, #{userId}, #{username})
    <!--<if test="#{member.isRoomOwner()}"></if>
           UPDATE member SET room_owner = true WHERE room_id = #{roomId} and user_id = #{userId}
    -->
    </insert>

    <update id="updateIsRoomOwner">
        UPDATE room_member SET is_room_owner = #{isRoomOwner} WHERE room_id = #{roomId} and user_id = #{userId}
    </update>

    <update id="updateIsGptOwner">
        UPDATE room_member SET is_gpt_owner = #{isGptOwner} WHERE room_id = #{roomId} and user_id = #{userId}
    </update>

    <update id="updateIsRoomConnected">
        UPDATE room_member SET is_room_connected = #{isRoomConnected} WHERE room_id = #{roomId} and user_id = #{userId}
    </update>

    <update id="updateIsTwentyGameReady">
        UPDATE room_member SET is_twenty_game_ready = #{isTwentyGameReady} WHERE room_id = #{roomId} and user_id = #{userId}
    </update>

    <update id="updateIsTwentyGameReadyByRoomId">
        UPDATE room_member SET is_twenty_game_ready = #{isTwentyGameReady} WHERE room_id = #{roomId}
    </update>

    <update id="updateGptUuid">
        UPDATE room_member SET gpt_uuid = #{gptUuid} WHERE room_id = #{roomId} and user_id = #{userId}
    </update>


    <delete id="deleteById">
        DELETE FROM room_member WHERE room_id = #{roomId} and user_id = #{userId}
    </delete>

    <delete id="deleteByRoomId">
        DELETE FROM room_member WHERE room_id = #{roomId}
    </delete>

</mapper>