<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.twenty.mapper.TwentyMessageMapper">

    <select id="findById" resultType="TwentyMessage">
        SELECT * FROM twenty_message WHERE id = #{id}
    </select>

    <select id="findAll" resultType="TwentyMessage">
        SELECT * FROM twenty_message LIMIT 0, 100
    </select>

    <select id="findByRoomId" resultType="TwentyMessage">
        SELECT * FROM twenty_message WHERE room_id = #{roomId}
    </select>

    <select id="findByRoomIdAndUserId" resultType="TwentyMessage">
        SELECT * FROM twenty_message WHERE room_id = #{roomId} AND user_id = #{userId}
    </select>

    <select id="findGptChatByRoomIdAndGptUuid" resultType="TwentyMessage">
        SELECT * FROM twenty_message WHERE room_id = #{roomId} AND is_gpt_chat = true AND gpt_uuid = #{gptUuid}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
-- chatMessage 삽입
        INSERT INTO twenty_message (room_id, user_id, type, username, content, created_at, is_gpt_chat, gpt_uuid)
        VALUES (#{roomId}, #{userId}, #{type}, #{username}, #{content}, #{createdAt}, #{isGptChat}, #{gptUuid})
    </insert>

    <update id="update">
        UPDATE twenty_message SET content = #{updateParam.content} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM twenty_message WHERE id = #{id}
    </delete>

</mapper>