<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat.twenty.mapper.TwentyMemberInfoMapper">

    <!-- SELECT 문을 사용하여 사용자 정보 조회 -->
    <select id="findById" resultType="TwentyMemberInfo">
        SELECT * FROM TWENTY_MEMBER_INFO WHERE user_id = #{userId}
    </select>

    <select id="findByRoomId" resultType="TwentyMemberInfo">
        SELECT * FROM TWENTY_MEMBER_INFO WHERE room_id = #{roomId}
    </select>

    <select id="findByRoomIdAndOrder" resultType="TwentyMemberInfo">
        SELECT * FROM TWENTY_MEMBER_INFO WHERE room_id = #{roomId} AND twenty_order = #{order}
    </select>

    <!-- INSERT 문을 사용하여 사용자 정보 삽입 -->
    <insert id="save">
        INSERT INTO TWENTY_MEMBER_INFO (user_id, room_id, twenty_order)
        VALUES (#{userId}, #{roomId}, #{twentyOrder})
    </insert>

    <!-- UPDATE 문을 사용하여 사용자 정보 수정 -->
    <update id="update">
        UPDATE TWENTY_MEMBER_INFO SET username = #{updateParam.username} WHERE user_id = #{userId}
    </update>

    <update id="updateOrder">
        UPDATE TWENTY_MEMBER_INFO SET order = #{order} WHERE user_id = #{userId}
    </update>

    <update id="updateIsReady">
        UPDATE TWENTY_MEMBER_INFO SET is_ready = #{isReady} WHERE user_id = #{userId}
    </update>

    <update id="updateIsAlive">
        UPDATE TWENTY_MEMBER_INFO SET is_alive = #{isAlive} WHERE user_id = #{userId}
    </update>

    <update id="updateIsAliveAll">
        UPDATE TWENTY_MEMBER_INFO SET is_alive = #{isAlive} WHERE room_id = #{roomId}
    </update>

    <!-- DELETE 문을 사용하여 사용자 정보 삭제 -->
    <delete id="deleteById">
        DELETE FROM TWENTY_MEMBER_INFO WHERE user_id = #{userId}
    </delete>

    <delete id="deleteByRoomId">
        DELETE FROM TWENTY_MEMBER_INFO WHERE room_id = #{roomId}
    </delete>

</mapper>